@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

/* Set the size of the div element that contains the map */
:root {
  --primary-color: #3248da;
  --secondary-color: #00caf2;
  --third-color: #ff7040;
  --fourth-color: #47cc49;
}
* {
  font-family: 'Nunito Sans', sans-serif;
}
#map {
  height: 100vh;
  /* The height is 400 pixels */
  width: 70%;
  float: left;
  /* The width is the width of the web page */
}
#containerRight {
  height: 100vh;
  overflow-y: auto;
  width: 30%;
  float: left;
  background-color: #fff;
  margin-top: 0px;
  padding: 0;
  border-radius: 0px 0px 0px 0px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
ul {
  width: 100%;
  margin: 5px auto 0;
  padding: 5px;
  box-sizing: border-box;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 2rem;
  margin-top: 0px;
  padding-top: 2px;
}

ul li {
  display: flex;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px 10px;
  color: var(--primary-color);
  margin: 7px 0;
  transition: 0.5s;
  border-radius: 2rem;
}

ul li span {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: absolute;
  text-align: right;
}
ul li:hover {
  transform: scale(1);
  background: var(--primary-color);
  color: white;
}

#containerPanel {
  background-color: var(--secondary-color);
  border-radius: 50px 50px 50px 50px;
}
#header {
  background-color: var(--primary-color);
  border-radius: 3rem 3rem 1rem 1rem;
  text-align: center;
  color: white;
  padding: 1rem;
  margin-top: 2px;
  margin-bottom: 2px;
}

#directions-panel {
  text-align: center;
  border-radius: 3rem 3rem 1rem 1rem;
}
