@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

/* Set the size of the div element that contains the map */
:root {
  --primary-color: #3248da;
  --secondary-color: #00caf2;
  --third-color: #ff7040;
  --fourth-color: #47cc49;
}
* {
  font-family: 'Nunito Sans', sans-serif;
  box-sizing: border-box;
}

html {
  display: block;
  overflow-x: hidden;
}
#map {
  height: 50vh;
}
#container {
  margin: auto;
}
#containerRight {
  width: 100%;
  background-color: #fff;
  margin-top: 0px;
  padding: 0;
  border-radius: 0px 0px 0px 0px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
ul {
  width: 100%;
  margin: 5px auto 0;
  padding: 5px;
  box-sizing: border-box;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 2rem;
  margin-top: 0px;
  padding-top: 2px;
}

ul li {
  display: flex;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px 10px;
  color: var(--primary-color);
  margin: 7px 0;
  transition: 0.5s;
  border-radius: 2rem;
}

ul li span {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: absolute;
  text-align: right;
}
ul li:hover {
  transform: scale(1);
  background: var(--primary-color);
  color: white;
}

#containerPanel {
  /* background-color: var(--secondary-color); */
  border-radius: 50px 50px 50px 50px;
}
#header {
  background-color: var(--primary-color);
  border-radius: 1rem;
  text-align: center;
  color: white;
  padding: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
}

#directions-panel {
  text-align: center;
  border-radius: 1rem;
  background-color: var(--primary-color);
  color: white;
  margin: 5px;
}

.btn {
  font-size: 0.75rem;
  font-weight: 400;
  color: white;
  background-color: var(--primary-color);
  width: 12.5rem;
  height: 2rem;
  border-radius: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: rgb(36, 51, 219);
}

.firstHeading {
  text-align: center;
}
.headingContent {
  text-align: center;
}

/*Button for  location*/
.permission-granted-button {
  background-color: var(--secondary-color);
  color: white;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 5px;
  padding: 0 0.5em;
  font: 400 1rem Nunito Sans, sans-serif;
  overflow: hidden;
  height: 35px;
  cursor: pointer;
}

.header {
  padding: 5px;
  text-align: center;
  background: var(--primary-color);
  color: white;
  font-size: 1rem;
  border-radius: 1.4rem 1.4rem 0rem 0rem;
  width: 100%;
  border: 5px;
}
.header .title {
  font-size: 1rem;
}
.header .subtitle {
  font-size: 1rem;
}

/* Partea responsive */
.row::after {
  content: '';
  clear: both;
  display: table;
}

[class*='col-'] {
  width: 100%;
  float: left;
  padding: 15px;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 90%;
    max-width: 1140px;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
  }
  /* For tablets: */
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 960px) {
  /* For tablets: */
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }

  #map {
    height: 70vh;
  }
  #containerRight {
    height: 70vh;
    overflow-y: scroll;
  }
}
